---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date

---

<Layout title="Sobre Nosotros">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sobre Nosotros</Fragment>
      <Fragment slot="desc">RAEEvolution es un proyecto que nace con la firme convicción de contribuir al cuidado del medio ambiente y promover una adecuada disposición de residuos electrónicos.
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Misión
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        En RAEEvolution, nos dedicamos a ofrecer un servicio integral para la recolección y gestión responsable de residuos electrónicos. Entendemos la importancia de reducir la huella ambiental y estamos comprometidos a ser parte activa del cambio.
      </p>
      
      <h2 class="font-bold text-3xl text-gray-800">
        Visión
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        En los próximos años seremos los líderes en la gestión sostenible de residuos electrónicos, contribuyendo activamente a un planeta más limpio y saludable. En RAEEvolution, visualizamos un futuro donde cada empresa adopte prácticas responsables en la disposición de sus residuos electrónicos, y donde los recursos tecnológicos sean aprovechados de manera sostenible para las generaciones venideras.
      </p>
      <h2 class="font-bold text-3xl text-gray-800">
        ¿Qué Hacemos?
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Nuestra plataforma brinda la oportunidad a las empresas de deshacerse de sus residuos electrónicos de manera segura y sostenible. Contratamos y capacitamos  a personas interesadas en aprender a clasificar los componentes de manera eficiente, asegurando que cada elemento sea manejado adecuadamente.
      </p>
      <h2 class="font-bold text-3xl text-gray-800">
        ¿Cómo Funciona?
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Recolección Responsable: Coordinamos la recogida de residuos electrónicos directamente en las instalaciones de las empresas, asegurándonos de cumplir con los más altos estándares medioambientales.<br/>
        <br/>
        Desarmado y Clasificación: Nuestro equipo realiza la descomposición cuidadosa de los dispositivos electrónicos, clasificando cada componente según su naturaleza y potencial de reutilización.<br/>
        <br/>
        Venta de Elementos Aprovechables: Los elementos recuperados de los residuos electrónicos son puestos a la venta. Los beneficios generados se reinvierten en nuestro compromiso continuo con la sostenibilidad y la mejora de nuestros servicios.
      </p>
    </div>
    
  </Container>
</Layout>
