---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/reciclage.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="RAEEvolution Logo"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
      RAEEvolution, Haciendo la diferencia un residuo electr贸nico a la vez.
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Dedicados a ofrecer un servicio integral para la recolecci贸n y gesti贸n responsable de residuos 
      electr贸nicos.<wbr /> Entendemos la importancia de reducir la huella ambiental y estamos comprometidos a 
      ser parte activa del cambio.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="/contact"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="clarity:email-line" />
        RAEEVoluciona con Nosotros
      </Link>
      
    </div>
  </div>
</main>
