---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Trabajamos con</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="clarity:cpu-solid" />
    <Icon class="h-8 md:h-12" name="clarity:resistor-line" />
    <Icon class="h-8 md:h-14" name="clarity:capacitor-line" />
    <Icon class="h-8 md:h-16" name="clarity:inductor-line" />
    <Icon class="h-8 md:h-12" name="clarity:battery-solid" />
    <Icon class="h-8 md:h-12" name="simple-icons:astro" />
  </div>
</div>
